.griglia > * {
    padding: 20px;
    border: 2px solid sienna;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    
}

.bomb {
    background-image: url("./kisspng-minesweeper-pro-bomba.jpg");
}

.color {
    background-color: crimson;
}

.griglia {
    display: flex;
    flex-wrap: wrap;
    
}